<body>
    <div class="container mt-5 p-4">
        <div class="bg-warning p-4 text-dark bg-opacity-10 rounded-3 shadow-lg">
            <h1 class="display-4 text-center font-weight-bold">Üdvözlöm</h1>
            <h2 class="h3 mt-4 text-center text-muted">Szeretne egy olyan építőipari céggel dolgozni aki nem csak ígérget hanem a megbeszélt időpontban megjelenik?</h2>
            <h2 class="h3 text-center text-muted">Jó hírem van! Megtalálta!</h2>
            <p class="lead mt-4">Cégünk 30 éves múltra nyúlik vissza hiszen családi vállalkozásként kezdtük és így nőtte ki magát a cég egyre nagyobbra. Foglalkozásunkat tekintve olyan építőipari munkákat vállalunk amelyre van is kapacítás. Nincs ígérgetés!</p>
            <p class="lead">Nagyon magas minőségben és garanciával valamint egy jól összeszokott csapattal várjunk a megrendelését.</p>
            <p class="lead">Saját gépparkkal és eszközökkel rendelkezünk</p>
            <h2 class="h3 mt-4 text-center text-muted">Tevékenységi köreink</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">Útépítés, aszfaltozás</li>
                <li class="list-group-item bg-transparent">Térkövezés</li>
                <li class="list-group-item bg-transparent">Betonozás</li>
                <li class="list-group-item bg-transparent">Vasak szerelése, zsaluzása</li>
                <li class="list-group-item bg-transparent">Falazás, vakolás</li>
                <li class="list-group-item bg-transparent">Festés, glettelés, gipszkartonozás</li>
                <li class="list-group-item bg-transparent">Kertépítés</li>
                <li class="list-group-item bg-transparent">Fémszerkezeti munkák, hegesztés</li>
                <li class="list-group-item bg-transparent">Takarítás (építkezéseken)</li>
                <li class="list-group-item bg-transparent">Burkolás</li>
                <li class="list-group-item bg-transparent">Minden nemű szigetelés víz, hő, hang</li>
                <li class="list-group-item bg-transparent">Bontás</li>
                <li class="list-group-item bg-transparent">Szállítás</li>
            </ul>
            <p class="lead mt-4">Még sok egyéb más.</p>
        </div>
    </div>
</body>
