<body>
    <div class="bg-success p-2 text-dark bg-opacity-10">
        <h1>Üdvözlöm</h1>
        <h2>Szeretne egy olyan építőipari céggel dolgozni aki nem csak ígérget hanem a megbeszélt időpontban megjelenik?</h2>
        <h2>Jó hírem van! Megtalálta!</h2>
        <p>Cégünk 30 éves múltra nyúlik vissza hiszen családi vállalkozásként kezdtük és így nőtte ki magát a cég egyre nagyobbra. Foglalkozásunkat tekintve
            olyan építőipari munkákat vállalunk amelyre van is kapacítás. Nincs ígérgetés!  
        </p>
        <p>Nagyon magas minőségben és garanciával valamint egy jól összeszokott csapattal várjunk a megrendelését.</p>
        <p>Saját gépparkkal és eszközökkel rendelkezünk</p>
        <h2>Tevékenységi köreink</h2>
        <ul>
            <li>Útépítés, aszfaltozás</li>
            <li>Térkövezés</li>
            <li>Betonozás</li>
            <li>Vasak szerelése, zsaluzása</li>
            <li>Falazás, vakolás</li>
            <li>Festés, glettelés, gipszkartonozás</li>
            <li>Kertépítés</li>
            <li>Fémszerkezeti munkák, hegesztés</li>
            <li>Takarítás (építkezéseken)</li>
            <li>Burkolás</li>
            <li>Minden nemű szigetelés víz, hő, hang</li>
    
            <li>Bontás</li>
            <li>Szállítás</li>
            
    
    
        </ul>
        <p>Még sok egyéb más.</p>
    </div>
</body>
