<div class="container my-5">
    <div class="form-container p-4">
      <h2 class="text-center mb-4">Ajánlatkérő Űrlap</h2>
      <form action="https://formsubmit.co/milaktibi6@gmail.com" method="POST">
        <div class="mb-3">
            <input type="hidden" name="_subject" value="Új ajánlatkérés!">
          <label for="name" class="form-label">Név</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" ngModel required>
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Írjon nekünk</label>
            <input type="text" class="form-control" id="email" name="email" ngModel required>
          </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-submit">Küldés</button>
        </div>
      </form>
    </div>
  </div>