  <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
    <div class="container-fluid">
      <img src="../../assets/kislogo.jpg" class="img-fluid custom-img-size" alt="Kis logo">
      <a class="navbar-brand text-warning" href="#">Tibi és Csapatai</a>
      
      <button class="navbar-toggler text-warning" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isNavbarCollapsed }" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="kezdolap" class="nav-link active text-warning" (click)="onNavItemClick()">Kezdőlap</a>
          <a routerLink="galeria" class="nav-link text-warning" (click)="onNavItemClick()">Referencia</a>
          <a routerLink="kapcsolat" class="nav-link text-warning " (click)="onNavItemClick()">Kapcsolat</a>
          <a routerLink="ajanlat" class="nav-link text-warning" (click)="onNavItemClick()">Ajánlatkérés</a>
        </div>
      </div>
    </div>
  </nav>
