<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <img src="../../assets/kislogo.jpg" class="img-fluid custom-img-size" alt="Kis logo">
      <a class="navbar-brand text-warning" href="#">Tibi és Csapatai</a>
      
      <button class="navbar-toggler text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-warning"></span>
      </button>
      <div class="collapse navbar-collapse text-warning" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="kezdolap" class="nav-link active text-warning " aria-current="page" href="#">Kezdőlap</a>
          <a routerLink="galeria" class="nav-link text-warning" href="#">Referencia</a>
          <a routerLink="kapcsolat" class="nav-link text-warning" href="#">Kapcsolat</a>
        </div>
      </div>
    </div>
  </nav>